$dark: #1a1a1a;

.footer {
    background-color: $dark;
    color: #fff;
    padding: 10px 15px;
    margin-left: -15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 992px;
    z-index: 1;
 }