.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }
  
  .modal-wrapper {
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    background: #fff;
    height: 200px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.18), 0 1px 2px 0 rgba(0,0,0,.04), 0 2px 6px 0 rgba(0,0,0,.04);
  }
  
  .modal-close {
    float: right;
  }