$dark: #1a1a1a;

.footer {
    background-color: $dark;
    color: #fff;
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    // transform: translateY(-15px);
}