@import '../styles/button.scss';
@import '../styles/form.scss';

$light: #f2f2f2;

html, body, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  background-color: $light;
}



ul {
  list-style: none;
}

.app {
  &__todo-list {
    margin-top: 20px;
  }
}

.fa-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
}

h1 {
  margin: 0;
  font-weight: lighter;
}

.wrapper {
  // max-width: 800px;
  padding: 0 15px;
  width: 88%;
  max-width: 992px;
  margin: 0 auto;
  background-color: #fff;
  height: 100vh;
  min-height: 100%;
}

.main {
  // padding: 15px 0;
  // flex-grow: 999;
}